:root {
  --send-message-button-width: 30px;
  --send-message-button-height: 30px;
}

.send-message-form-button {
  cursor: pointer;
  background: none;
  border: none;
}

.send-message-form-button:disabled {
  cursor: not-allowed;
}

.send-message-form-button__image {
  width: var(--send-message-button-width);
  height: var(--send-message-button-height);
}
