.send-message-form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2f3640;

  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.35);
}

.send-message-form__input {
  width: 80%;
  height: 50px;
  margin: 0 10px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #353b48;
}

.send-message-form__input:disabled {
  cursor: not-allowed;
}
