.initial-suggested-messages-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.initial-suggested-messages-row__button {
  width: 150px;
  padding: 10px;
  background-color: #2b313e;
  color: white;
  border-radius: 10px;
  border: #b3b3b3 solid 1px;
  font-size: 14px;
  text-align: center;

  cursor: pointer;
  font-weight: normal;
  transition: all 1s;
}

.initial-suggested-messages-row__button:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.35);
}

.initial-suggested-messages-row__button:nth-child(2) {
  margin: 0 10px;
}
